<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="col-xs-4">
            <div class="form-group">
              <label for="email">Email:</label>
              <input
                class="form-control"
                name="email"
                id="email"
                email
                required
                ngModel
                #email="ngModel" />
              <div *ngIf="!email.valid" class="alert alert-danger">Email invalid!</div>
            </div>
            <div class="form-group">
              <label for="subscription">Subscription:</label>
              <select
                class="form-control"
                id="subscription"
                name="subscription"
                [ngModel]="subscription"
                >
                <option *ngFor="let subscription of subscriptions" [value]="subscription.key">{{ subscription.value }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
                ngModel
                #password="ngModel" />
              <div *ngIf="!password.valid" class="alert alert-danger">Password invalid!</div>
            </div>
            <div class="form-group">
              <div class="alert alert-danger" *ngIf="!f.valid && f.touched">Form invalid!</div>
            </div>
            <button class="btn btn-primary">Submit</button>
          </div>
        </form>
        <div class="col-xs-4" *ngIf="results">
          <div class="form-group">
            Email: {{ results.email }}
          </div>
          <div class="form-group">
            Subscription: {{ results.subscription }}
          </div>
          <div class="form-group">
            Password: {{ results.password }}
          </div>
        </div>
        <!-- Add a Form with the following Inputs (and Validators)
             1) Mail address (should not be empty and should be an email address)
             2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
                Set "Advanced" as Default
             3) A Password field (should not be empty)
             4) A Submit Button

             Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

             Upon submitting the form, you should simply print the Value of the Form to the Console.
             Optionally, display it in your template.
        -->
      </div>
  </div>
</div>
